.user
	background-color: white
	padding: 25px
	font-family: "Helvetica Neue",arial
	box-shadow:  0px 0px 15px #A38989

.user__textfield
	display: block
	font: 20px

.notice
	box-sizing: border-box
	width: 400px
	font: 25px "Helvetica Neue",arial
	text-align: center
	display: none
	background-color: #F5CE97
	color: white
	margin: 20px auto
	padding: 15px 0
